.card {
  font-family: 'Roboto';
  padding: 1.35rem;
  border-radius: 8px;
}

.card-title {
  font-family: 'Roboto Condensed';
  border: 1px solid red;
}

.card-body {
  padding: 0;
  margin-top: 32px;
}